<a href="https://colab.research.google.com/github/prateeksha112/coding/blob/main/BA_GA3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df1=pd.read_csv("/content/train_LR.csv")
df1.head()

,MaritalStatus,YearlyIncome,TotalChildren,ChildrenAtHome,HouseOwnerFlag,NumberCarsOwned,Age,MotorCycleBuyer
0,1,150000,4,5,1,4,45,0
1,1,120000,1,1,1,4,36,0
2,1,70000,2,0,0,2,38,0
3,1,80000,5,4,1,3,35,0
4,0,100000,3,2,0,1,40,0

In [ ]:
df1.shape

(12384, 8)

In [ ]:
df1.describe()

,MaritalStatus,YearlyIncome,TotalChildren,ChildrenAtHome,HouseOwnerFlag,NumberCarsOwned,Age,MotorCycleBuyer
count,12384.000000,12384.000000,12384.000000,12384.000000,12384.000000,12384.000000,12384.000000,12384.000000
mean,0.537548,67336.886305,1.846576,0.998547,0.676518,1.501373,33.705911,0.495801
std,0.498608,32347.107129,1.614671,1.519157,0.467824,1.137696,11.275531,0.500003
min,0.000000,20000.000000,0.000000,0.000000,0.000000,0.000000,15.000000,0.000000
25%,0.000000,40000.000000,0.000000,0.000000,0.000000,1.000000,25.000000,0.000000
50%,1.000000,70000.000000,2.000000,0.000000,1.000000,2.000000,32.000000,0.000000
75%,1.000000,80000.000000,3.000000,2.000000,1.000000,2.000000,41.000000,1.000000
max,1.000000,180000.000000,5.000000,5.000000,1.000000,4.000000,85.000000,1.000000

In [ ]:
df1.dtypes

MaritalStatus      int64
YearlyIncome       int64
TotalChildren      int64
ChildrenAtHome     int64
HouseOwnerFlag     int64
NumberCarsOwned    int64
Age                int64
MotorCycleBuyer    int64
dtype: object

In [ ]:
df1['MotorCycleBuyer'].value_counts(normalize=True)

0    0.504199
1    0.495801
Name: MotorCycleBuyer, dtype: float64

In [ ]:
df1.columns

Index(['MaritalStatus', 'YearlyIncome', 'TotalChildren', 'ChildrenAtHome',
       'HouseOwnerFlag', 'NumberCarsOwned', 'Age', 'MotorCycleBuyer'],
      dtype='object')

In [ ]:
features = ['MaritalStatus', 'YearlyIncome', 'TotalChildren', 'ChildrenAtHome',
       'HouseOwnerFlag', 'NumberCarsOwned', 'Age']

In [ ]:
target = ['MotorCycleBuyer']

In [ ]:
x_train = df1[features] 
y_train = df1[target]
print(x_train.shape, y_train.shape)

(12384, 7) (12384, 1)

In [ ]:
df2=pd.read_csv("/content/test_LR.csv")

In [ ]:
df2.head()

,MaritalStatus,YearlyIncome,TotalChildren,ChildrenAtHome,HouseOwnerFlag,NumberCarsOwned,Age,MotorCycleBuyer
0,1,80000,4,2,1,1,47,0
1,0,40000,4,0,0,2,51,0
2,0,20000,2,2,1,0,28,0
3,1,80000,4,0,0,0,28,1
4,1,40000,0,0,1,2,19,0

In [ ]:
df2.shape

(6100, 8)

In [ ]:
df2['MotorCycleBuyer'].value_counts(normalize=True)

0    0.509508
1    0.490492
Name: MotorCycleBuyer, dtype: float64

In [ ]:
df2.columns

Index(['MaritalStatus', 'YearlyIncome', 'TotalChildren', 'ChildrenAtHome',
       'HouseOwnerFlag', 'NumberCarsOwned', 'Age', 'MotorCycleBuyer'],
      dtype='object')

In [ ]:
x_test = df2[features] #if dataset of test had different features then we had to define them like done earlier
y_test = df2[target]

In [ ]:
print(x_test.shape, y_test.shape)

(6100, 7) (6100, 1)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
logreg=LogisticRegression()

In [ ]:
logreg.fit(x_train, y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [ ]:
y_pred=logreg.predict(x_test)

In [ ]:
print(y_pred.shape)

(6100,)

In [ ]:
from sklearn.metrics import classification_report #, confusion_matrix
from sklearn.metrics import confusion_matrix

In [ ]:
print(confusion_matrix(y_test,y_pred))

[[2185  923]
 [2049  943]]

In [ ]:
print(confusion_matrix(y_test, y_pred).ravel() )

[2185  923 2049  943]

In [ ]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.52      0.70      0.60      3108
           1       0.51      0.32      0.39      2992

    accuracy                           0.51      6100
   macro avg       0.51      0.51      0.49      6100
weighted avg       0.51      0.51      0.49      6100

In [ ]:
y_pred_prob = logreg.predict_proba(x_test)[:,1]
y_pred_prob

array([0.46255201, 0.396253  , 0.43972698, ..., 0.42690257, 0.46596532,
       0.48879674])

In [ ]:
df3 = pd.DataFrame()

In [ ]:
df3['test'] = y_test

In [ ]:
df3['pred'] = y_pred

In [ ]:
df3['pred_proba'] = y_pred_prob

In [ ]:
df3.head(17)

    test  pred  pred_proba
0      0     0    0.462552
1      0     0    0.396253
2      0     0    0.439727
3      1     1    0.522444
4      0     0    0.495626
5      1     0    0.459031
6      0     0    0.474433
7      0     0    0.477444
8      0     0    0.444957
9      0     0    0.493999
10     1     0    0.478651
11     1     0    0.478567
12     1     0    0.471342
13     1     0    0.449519
14     1     0    0.423549
15     0     1    0.513136
16     0     1    0.505707

# we will write code to make confusion matrix for train data as welll

In [ ]:
y_train_pred=logreg.predict(x_train)

In [ ]:
print(y_train_pred.shape)

(12384,)

In [ ]:
print(confusion_matrix(y_train,y_train_pred))

[[3832 2412]
 [3618 2522]]

In [ ]:
print(classification_report(y_train, y_train_pred))

              precision    recall  f1-score   support

           0       0.51      0.61      0.56      6244
           1       0.51      0.41      0.46      6140

    accuracy                           0.51     12384
   macro avg       0.51      0.51      0.51     12384
weighted avg       0.51      0.51      0.51     12384

In [ ]:
x=(3832+2522)/(3832+2412+3618+2522)
print(x)

0.5130813953488372

In [ ]:
x=2522/(2412+2522)

In [ ]:
x

0.5111471422780706

In [ ]:
x=3618/(3618+2522)

In [ ]:
x

0.5892508143322476