<a href="https://colab.research.google.com/github/prateeksha112/coding/blob/main/ba_wk7_logistic_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df1=pd.read_csv("/content/train_data.csv")
df1.head()

,Tier,FICO,Term,Amount,Previous_Rate,Competition_rate,Rate,Cost_Funds,Partner Bin,Car_Type_N,Car_Type_R,Car_Type_U,Accept
0,2,725,72,30500.0,5,6.09,4.99,1.1200,2,0,1,0,0
1,1,739,60,25995.0,-10,4.79,4.79,1.9590,2,0,0,1,0
2,1,781,60,39000.0,-10,4.25,4.25,1.1200,2,1,0,0,0
3,2,718,72,30000.0,-10,5.39,5.44,1.3363,1,1,0,0,1
4,2,703,72,38000.0,-10,5.75,6.29,1.1338,1,0,0,1,0

In [ ]:
df1.shape

(145659, 13)

In [ ]:
df1.describe()

,Tier,FICO,Term,Amount,Previous_Rate,Competition_rate,Rate,Cost_Funds,Partner Bin,Car_Type_N,Car_Type_R,Car_Type_U,Accept
count,145659.000000,145659.000000,145659.000000,145659.000000,145659.000000,145659.000000,145659.000000,145659.000000,145659.000000,145659.000000,145659.000000,145659.000000,145659.000000
mean,1.928429,726.695556,56.822441,25996.819760,-6.001435,4.807957,5.623998,1.329209,2.029473,0.571815,0.226865,0.201320,0.220041
std,1.050519,44.727756,11.201037,11125.968255,7.499216,0.586018,1.545418,0.278368,0.911097,0.494817,0.418806,0.400988,0.414276
min,1.000000,594.000000,36.000000,4526.620000,-10.000000,2.990000,2.450000,1.020000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,692.000000,48.000000,17753.450000,-10.000000,4.390000,4.490000,1.110000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,2.000000,726.000000,60.000000,25000.000000,-10.000000,4.790000,5.090000,1.262500,2.000000,1.000000,0.000000,0.000000,0.000000
75%,3.000000,762.000000,60.000000,33000.000000,-10.000000,5.190000,6.390000,1.419400,3.000000,1.000000,0.000000,0.000000,0.000000
max,4.000000,852.000000,72.000000,100000.000000,24.000000,6.450000,15.530000,2.127000,3.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
df1.dtypes

Tier                  int64
FICO                  int64
Term                  int64
Amount              float64
Previous_Rate         int64
Competition_rate    float64
Rate                float64
Cost_Funds          float64
Partner Bin           int64
Car_Type_N            int64
Car_Type_R            int64
Car_Type_U            int64
Accept                int64
dtype: object

In [ ]:
df1['Accept'].value_counts(normalize=True) #df1['Accept']: This extracts the 'Accept' column from the DataFrame df1.
                                           #value_counts(): This method counts the number of occurrences of each unique value in the 'Accept' column.
                                          #normalize=True:This argument normalizes the counts to represent the relative frequency of each unique value, rather than the absolute count.

0    0.779959
1    0.220041
Name: Accept, dtype: float64

In [ ]:
df1.columns

Index(['Tier', 'FICO', 'Term', 'Amount', 'Previous_Rate', 'Competition_rate',
       'Rate', 'Cost_Funds', 'Partner Bin', 'Car_Type_N', 'Car_Type_R',
       'Car_Type_U', 'Accept'],
      dtype='object')

In [ ]:
features = ['Tier', 'FICO', 'Term', 'Amount', 'Previous_Rate', 'Competition_rate',
       'Rate', 'Cost_Funds', 'Partner Bin', 'Car_Type_N', 'Car_Type_R',
       'Car_Type_U']

In [ ]:
target = ['Accept']

In [ ]:
x_train=df1[features] #train dataset is on which we build our model and test dataset is on which we will test our model
y_train=df1[target]
print(x_train.shape, y_train.shape)

(145659, 12) (145659, 1)

In [ ]:
df2=pd.read_csv("/content/test_data.csv")

In [ ]:
df2.head()

,Tier,FICO,Term,Amount,Previous_Rate,Competition_rate,Rate,Cost_Funds,Partner Bin,Car_Type_N,Car_Type_R,Car_Type_U,Accept
0,4,656,60,19600.0,-10,5.49,7.89,1.80,1,1,0,0,0
1,2,708,60,25921.0,8,5.49,7.02,1.99,2,0,1,0,0
2,4,666,60,18542.0,-10,5.75,7.89,1.82,3,0,0,1,0
3,1,749,48,18000.0,-10,4.89,4.14,1.34,1,1,0,0,1
4,2,709,60,25000.0,-10,4.25,4.69,1.11,1,1,0,0,0

In [ ]:
df2.shape

(62426, 13)

In [ ]:
df2['Accept'].value_counts(normalize=True)

0    0.779963
1    0.220037
Name: Accept, dtype: float64

In [ ]:
df2.columns

Index(['Tier', 'FICO', 'Term', 'Amount', 'Previous_Rate', 'Competition_rate',
       'Rate', 'Cost_Funds', 'Partner Bin', 'Car_Type_N', 'Car_Type_R',
       'Car_Type_U', 'Accept'],
      dtype='object')

In [ ]:
x_test = df2[features] #if dataset of test had different features then we had to define them like done earlier
y_test = df2[target]

In [ ]:
print(x_test.shape, y_test.shape)

(62426, 12) (62426, 1)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
logreg=LogisticRegression()

In [ ]:
logreg.fit(x_train, y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
y_pred=logreg.predict(x_test) #we predict y on the basis of x test

In [ ]:
print(y_pred.shape)

(62426,)

In [ ]:
from sklearn.metrics import classification_report #, confusion_matrix
from sklearn.metrics import confusion_matrix

In [ ]:
print(confusion_matrix(y_test,y_pred)) #this will give matrix of actual vs predicted             prediction
                                                                                      #actual      0        1
                                                                                       #       0  45895     2795
                                                                                         #     1  8954      4782

[[45895  2795]
 [ 8954  4782]]

In [ ]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.84      0.94      0.89     48690
           1       0.63      0.35      0.45     13736

    accuracy                           0.81     62426
   macro avg       0.73      0.65      0.67     62426
weighted avg       0.79      0.81      0.79     62426

In [ ]:
y_pred_prob = logreg.predict_proba(x_test)[:,1]
y_pred_prob

array([0.11053887, 0.22187841, 0.20986352, ..., 0.0182753 , 0.50205179,
       0.26150463])

In [ ]:
df3 = pd.DataFrame()

In [ ]:
df3['test'] = y_test

In [ ]:
df3['pred'] = y_pred

In [ ]:
df3['pred_proba'] = y_pred_prob

In [ ]:
df3.head(20)

    test  pred  pred_proba
0      0     0    0.110539
1      0     0    0.221878
2      0     0    0.209864
3      1     0    0.243030
4      0     0    0.171410
5      0     0    0.014105
6      0     0    0.025860
7      1     1    0.609776
8      0     0    0.056684
9      0     0    0.026741
10     0     0    0.058247
11     0     0    0.127479
12     0     0    0.222728
13     0     0    0.148170
14     0     0    0.017636
15     1     0    0.301821
16     1     0    0.365778
17     0     0    0.024998
18     0     0    0.009192
19     0     1    0.889135